In [67]:
import os
import functools
import time
import numpy as np
import pandas as pd

In [68]:
def timer(func):
    @functools.wraps(func)
    def wrapper(*args, **kwargs):
        start_time = time.perf_counter()
        value = func(*args, **kwargs)
        end_time = time.perf_counter()
        run_time = end_time - start_time
        print (f'{func.__name__!r} finished in {run_time:.4f} s')
        return value
    return wrapper

@timer
def import_data(filename, skiprows = 1):
    imported = np.loadtxt(filename, skiprows = skiprows)

    points = imported[0:, 0:3]
    data = imported[0:, 3:]

    if data.shape[1] == 2:
        data = np.array([data[0:, 0] + data[0:, 1]*1j]).transpose()

    elif data.shape[1] == 6:
        data = np.array([data[0:, 0] + data[0:, 1]*1j, \
                     data[0:, 2] + data[0:, 3]*1j, \
                     data[0:, 4] + data[0:, 5]*1j]).transpose()

    return data, points

In [70]:
filename = '../test_data/complex_test.fld'

data, points = import_data(filename)

data_df = pd.DataFrame(data)
display(data_df.head())

'import_data' finished in 0.1318 s

                    0                   1                   2
0  1.003850+0.008616j  0.003089+0.007552j  0.003090+0.007549j
1  1.003941+0.008798j  0.003229+0.007883j  0.003162+0.007717j
2  1.004035+0.008985j  0.003373+0.008221j  0.003235+0.007885j
3  1.004127+0.009168j  0.003519+0.008564j  0.003305+0.008046j
4  1.004219+0.009351j  0.003685+0.008951j  0.003380+0.008218j

In [44]:
filename = '../test_data/complex_test.fld'



start_time = time.time()
imported = np.loadtxt(filename, skiprows = 1)
print(f'Took {time.time()-start_time} seconds to import')

points = imported[0:,0:3]
data = imported[0:,3:]


# print(imported.shape)
# print(points.shape)
# print(data.shape)


# Convert to pandas dataframe
points_df = pd.DataFrame(points)
points_df.columns = ['X', 'Y', 'Z']
data_df = pd.DataFrame(data)
data_df.columns = ['Re(X)', 'Im(X)', 'Re(Y)', 'Im(Y)', 'Re(Z)', 'Im(Z)']

display(points_df.head())
display(data_df.head())

Took 0.12686586380004883 seconds to import

      X    Y     Z
0  0.51 -1.0 -1.00
1  0.51 -1.0 -0.98
2  0.51 -1.0 -0.96
3  0.51 -1.0 -0.94
4  0.51 -1.0 -0.92

      Re(X)     Im(X)     Re(Y)     Im(Y)     Re(Z)     Im(Z)
0  1.003850  0.008616  0.003089  0.007552  0.003090  0.007549
1  1.003941  0.008798  0.003229  0.007883  0.003162  0.007717
2  1.004035  0.008985  0.003373  0.008221  0.003235  0.007885
3  1.004127  0.009168  0.003519  0.008564  0.003305  0.008046
4  1.004219  0.009351  0.003685  0.008951  0.003380  0.008218

In [54]:
data_new = np.array([data[0:, 0] + data[0:, 1]*1j, \
                     data[0:, 2] + data[0:, 3]*1j, \
                     data[0:, 4] + data[0:, 5]*1j]).transpose()
data_new.shape

(10201, 3)